.flex {
  display: flex;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-rows: auto;
  gap: 1em;
  padding: 1em;
}
.justify-b {
  justify-content: flex-end;
}
.align-b {
  align-items: flex-end;
}
.justify-sb {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.width100 {
  width: 100%;
}
.grey-text {
  color: grey;
}
.App {
  width: fit-content;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  background-color: rgb(158, 158, 158);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
